body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#app {
    text-align: center;
}

#result {
    margin-top: 20px;
}
